.menus {
  /* display: inline-block; */
}

#menu1 {
  width: 100px;
  height: 40px;
  background: #fcc;

}

#menu2 {
  width: 100px;
  height: 40px;
  background: rgb(255, 167, 167);

}

#menu3 {
  width: 100px;
  height: 40px;
  background: rgb(255, 95, 95);

}

#dropmenu1 {
  float: left;
  display: none;
  background: burlywood;
  width: 200px;
}

#dropmenu2 {
  display: none;
  background: burlywood;
  width: 200px;
}

#dropmenu3 {
  display: none;
  background: burlywood;
  width: 200px;
}

.drops {
  position:absolute;
}